body{
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("./img/Redes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; 
}

h1{
    color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 800%;
    text-align: center;
    text-shadow: 3px 3px 8px #FFD54F;
}

.all{
    position: relative;
    top: -5%;
    display: flex;              /* Activa el modo flex */
    gap: 50px;                  /* Espacio entre los elementos */
    justify-content: flex-start;
}

.Powers{
    background: #FFECB3;
    width: 15%;
    height: 260px;
    position: relative;
    top: 25%;
    left: 5%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px	 4px #FFD54F;
    cursor: pointer;
}

.Powers:hover, .Energies:hover, .Calculators:hover, .Tips:hover, .Relations:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 4px	 4px #FFD54F;
}

.Power{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 2%;
}

.btnPower{
    height: 48px;
    width: 80%;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 100%;
}

.Energies{
    background: #FFECB3;
    width: 15%;
    height: 260px;
    position: relative;
    top: 25%;
    left: 5%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px	 4px #FFD54F;
    cursor: pointer;
}

.Energy{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 2%;
}

.btnEnergy{
    height: 48px;
    width: 80%;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 100%;
}

.Calculators{
    background: #FFECB3;
    width: 15%;
    height: 260px;
    position: relative;
    top: 25%;
    left: 5%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px	 4px #FFD54F;
    cursor: pointer;
}

.Calculator{
    position: relative;
    top: 5%;
    left: 18%;
    width: 62%;
    margin: 2%;
}

.btnCalculator{
    height: 48px;
    width: 80%;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 100%;
}

.Tips{
    background: #FFECB3;
    width: 15%;
    height: 260px;
    position: relative;
    top: 25%;
    left: 5%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px	 4px #FFD54F;
    cursor: pointer;
}

.Tip{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 2%;
}

.btnTip{
    height: 48px;
    width: 80%;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 100%;
}

.Relations{
    background: #FFECB3;
    width: 15%;
    height: 260px;
    position: relative;
    top: 25%;
    left: 5%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px	 4px #FFD54F;
    cursor: pointer;
}

.Relation{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 2%;
}

.btnRelation{
    height: 48px;
    width: 80%;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #FFD54F;
    font-family: 'Jockey One', sans-serif;
    font-size: 100%;
}